{% extends 'layouts/app.html.twig' %}

{% block title %}
    TalkSpace - Profil
{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold">
        Profil
    </h1>

    {% include 'profile/partials/informations.html.twig' %}
    {% include 'profile/partials/password.html.twig' %}
    {% include 'profile/partials/delete.html.twig' %}
{% endblock %}
