{% extends 'base.html.twig' %}

{% block title %}
    TalkSpace - Trouver un thérapeute
{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold">
        Trouver un thérapeute
    </h1>

    <p>
        therapists list here
    </p>
{% endblock %}
