{% extends 'base.html.twig' %}

{% block title %}
    TalkSpace - Thérapeute
{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold">
        Thérapeute
    </h1>

    <p>
        therapist infos here
    </p>
{% endblock %}
