{% extends 'base.html.twig' %}

{% block title %}Privacy policy{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="text-center">Privacy Policy</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. 
      Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, 
      vitae mattis nulla ante id dui.
    </p>
    <h3>Types of Data Collected</h3>
    <ul>
      <li>Personal data: name, email address, etc.</li>
      <li>Usage data: information about how the service is used</li>
      <li>Cookies data: information stored in cookies on your device</li>
    </ul>
    <h3>Use of Data</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. 
      Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, 
      vitae mattis nulla ante id dui.
    </p>
    <div class="card my-5">
      <div class="card-header">
        Contact Information
      </div>
      <div class="card-body">
        <p class="card-text">
          For any questions or concerns about our privacy policy, please contact us at:
        </p>
        <ul>
          <li>Email: privacy@example.com</li>
          <li>Phone: (555) 555-5555</li>
          <li>Address: 123 Main St, Anytown USA 12345</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
