{% extends 'layouts/app.html.twig' %}

{% block title %}
    TalkSpace - Modifier la service
{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold">
        Modifier la service
    </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
