{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    
   <div class="row">
       <div class="col-6 offset-3">

           <div class="card bg-light" style= "margin-top: 15px; margin-bottom: 15px;">
               <div class="card-body">
                   <h1 class="text-center">S'inscrire</h1>
                   <form>
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="Nom" class="form-label">Nom</label>
                                    <input type="text" class="form-control" id="Nom" aria-describedby="Nom">
                                    
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="Prenom" class="form-label">Prenom</label>
                                    <input type="text" class="form-control" id="Prenom" aria-describedby="Prenom">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="inputEmail" class="form-label">Adresse email</label>
                                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">Votre e-mail ne sera pas diffusé.</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="inputMdp" class="form-label">Mot de passe</label>
                                    <input type="password" class="form-control" id="inputMdp">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">S'inscrire</button>
                    </form>


                        {# {{ form_start(registrationForm) }} #}
                            {# {{ form_row(registrationForm.email) }}
                            {{ form_row(registrationForm.plainPassword) }} #}

                            {# <button class="btn btn-primary btn-block">Register</button> #}
                        {# {{ form_end(registrationForm) }} #}
               </div>
           </div>
       </div>
   </div>
{% endblock %}