{% extends 'base.html.twig' %}

{% block title %}
    TalkSpace - À propos
{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold">
        À propos
    </h1>

    <h2>Rendez-vous chez le médecin : ce que vous devez savoir</h2>	
     <p>Aller voir un médecin peut être éprouvant, mais c'est important pour maintenir une bonne santé.
      Voici ce que vous devez savoir pour prendre rendez-vous avec un médecin :</p> 
      <h3>Prendre rendez-vous</h3> 
      <p>Il y a plusieurs façons de prendre rendez-vous avec un médecin, y compris :</p> 
      <ul> 
        <li>Appeler directement au cabinet du médecin</li> 
        <li>Visiter le site Web du Pour le médecin</li> 
        </ul> 
        
        <h3>Préparer le rendez-vous</h3> 
        <p>Avant votre rendez-vous, c'est une bonne idée de :</p> 
        <ul> 
            <li>Écrire tous les symptômes que vous ressentez</li> 
            <li>Pensez à tout changement dans votre santé ou votre mode de vie Comprendre 
            les différents membres de votre équipe et ce qu'ils font est une étape importante pour établir une relation avec eux.</p>
        </p>
        <br>
        <div class="card">	
             <div class="container">	
                 		 <h3 class="title">Méicien des soins primaires (PCP)</h3>
                         	<p>Votre médecin de premier recours (PCP) est généralement le premier médecin que vous consultez pour la plupart des problèmes de santé. 
                            Ils gèrent votre santé globale et vous orientent vers des spécialistes si nécessaire. 
                            Votre PCP est un acteur clé pour coordonner vos soins de santé et s'assurer que vous recevez les bons soins au bon moment.</p>	
                            	 </div>	
                                 </div>	
                                  <br>	
                                   <div class="card">
                                   	    <div class="container">
                            			 <h3 class="title">Spécialistes</h3>
                                         	<p>Si vous avez un problème de santé spécifique, votre PCP peut vous référer à un spécialiste. 
                                            Les spécialistes ont une formation et une expertise avancées dans des domaines spécifiques de la médecine, tels que la cardiologie, 
                                            la dermatologie ou l'orthopédie. En travaillant en étroite collaboration avec votre PCP et d'autres membres de votre équipe médicale,
                                             des spécialistes vous aident à fournir les meilleurs soins possibles.</p>	
                                             	 </div>	
                                                  </div>	
                                                   <br>	
                                             <div class="card">
                                      <div class="container">	
                                             	<h3 class="title">Infirmières et infirmières praticiennes</h3>	
                                                    <p>Les infirmières et les infirmières praticiennes jouent un rôle essentiel dans vos soins de santé. 
                                                    Ils prennent vos signes vitaux, administrent des médicaments et fournissent de l'éducation et du soutien.
                                                     Ils jouent également un rôle clé dans la communication avec vos médecins et les autres membres de votre équipe médicale pour vous assurer de recevoir les meilleurs soins possibles.
                                                     </p>
                                                     </div>	
                                                     </div>	
                                                      <br>
                                                      <div class="card">
                                                      <div class="container">
                                                      	<h3 class="title">Le personnel de soutien</h3>
                                                            <p>Le personnel de soutien, y compris les réceptionnistes, les assistants médicaux et les spécialistes de la facturation, joue un rôle crucial pour aider votre équipe médicale à fonctionner en douceur.
                                                             Ils vous aident à planifier des rendez-vous, à traiter les réclamations d'assurance et à s'assurer que vous disposez des informations dont vous avez besoin pour prendre des décisions éclairées concernant votre santé.</p>
                                                            </div>
                                                            </div> 
                                                            <h2>Garantie de notre client</h2>
                                                            	<p>Chez ESGI Challenge, nous nous engageons à fournir à nos clients le plus haut niveau de service et de satisfaction. Nous comprenons que le choix du bon fournisseur de services est une décision importante,
                                                                 et nous voulons vous assurer que vous faites le bon choix avec nous.</p>
                                                                <br>
                                                                <div class="card">
                                                                    <div class="container">
                                                                    <h3 class="title">Service de qualité</h3>
                                                                    <p>Nous garantissons que les services que nous fournissons seront de la plus haute qualité, fournis par notre équipe hautement qualifiée et expérimentée.
                                                                     Nous n'utilisons que les meilleurs matériaux et équipements, et nous nous engageons à vous fournir les meilleurs résultats possibles.</p>
                                                                     </div>	
                                                                     </div>	
                                                                     <br>
                                                                     <div class="card">	
                                                                     	<div class="container">	
                                                                            <h3 class="title">Livraison à temps</h3>
                                                                            <p>Nous comprenons que votre temps est précieux et nous vous garantissons que votre projet sera terminé à temps. 
                                                                            Nous travaillerons en étroite collaboration avec vous pour établir un calendrier qui répond à vos besoins, et nous vous tiendrons au courant de nos progrès tout au long du projet.</p>	
                                                                            </div>
                                                                            </div> 
                                                                            <br>
                                                                            <div class="card">
                                                                            <div class="container">	
                                                                            <h3 class="title">Prix équitables</h3>
                                                                            <p>Nous garantissons que le prix que nous vous indiquons pour nos services sera juste et compétitif. Nous pensons que vous ne devriez jamais avoir à payer trop cher pour les services dont vous avez besoin, et nous nous engageons à vous fournir le meilleur rapport qualité-prix pour votre investissement.</p>	
                                                                            	</div>	
                                                                                </div>
                                                                                <br>
                                                                                <div class="card">
                                                                                <div class="container">	
                                                                                <h2 class="title">100% de satisfaction</h2>	
                                                                                
                                                                            <p>Notre objectif ultime est votre entière satisfaction à l'égard des services que nous fournissons. Si vous n'êtes pas entièrement satisfait des résultats, nous travaillerons avec vous jusqu'à ce que vous le soyez. 
                                                                            Votre satisfaction est notre garantie.</p>
                </div>
        	 </div>


{% endblock %}
