{% extends 'base.html.twig' %}

{% block title %}
    TalkSpace
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <h1 class="text-2xl font-bold">
        Page d'accueil
    </h1>

    {% if app.user %}
        <a href="{{ path('app_dashboard') }}">Dashboard</a>
    {% else %}
        <a href="{{ path('app_login') }}">S'identifier</a>
        <a href="{{ path('app_register') }}">S'inscrire</a>
    {% endif %}
{% endblock %}
