{% extends 'base.html.twig' %}

{% block title %}
    TalkSpace - Politique de confidentialité
{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold">
        Politique de confidentialité
    </h1>
    
       <p>
      Cette politique de confidentialité définit la façon dont le site Web ESGI Doctor utilise et protège toute information que vous fournissez au site Web ESGI Doctor lorsque vous utilisez ce site Web. 
      ESGI Doctor Website s'engage à garantir la protection de votre vie privée. Si nous vous demandons de fournir certaines informations par lesquelles vous pouvez être identifié lorsque vous utilisez ce site Web,
       vous pouvez être assuré qu'il ne sera utilisé que conformément à la présente déclaration de confidentialité. </p> 
       <p> Le site Web ESGI Doctor peut modifier cette politique de temps à autre en mettant à jour cette page. Vous devriez consulter cette page de temps à autre pour vous assurer que vous êtes satisfait de tout changement. 
       Cette politique entre en vigueur à partir du 28/02/2023. </p> 
       
       <h2>Ce que nous recueillons</h2> 
       <p> Nous pouvons recueillir les informations suivantes : </p> 
       <ul> 
       <li>Nom</li> 
       <li>Informations de contact, y compris l'adresse e-mail</li> 
       <li>Informations démographiques telles que le 
       <h2>Ce que nous faisons des informations que nous recueillons</h2> 
       <p> Nous avons besoin de ces informations pour comprendre vos besoins et vous fournir un meilleur service, et en particulier pour les raisons suivantes : </p>
        <ul> 
        <li>Contention de dossiers internes</li> 
        <li>Nous pouvons utiliser les informations pour améliorer nos produits et services</li> 
        <li>Vous pouvez trouver intéressant d'utiliser l'adresse e-mail que vous avez fournie</li> 
      <li>De temps en temps, nous pouvons également utiliser vos informations pour vous contacter à des fins d'études de marché. Nous pouvons vous contacter par e-mail, téléphone, fax ou courrier. Nous pouvons utiliser les informations pour personnaliser le site Web en fonction de vos intérêts</li> 
      </ul> 
     
      <h2>Sécurité</h2> 
      <p> Nous nous engageons à assurer la sécurité de vos informations. Afin d'empêcher l'accès ou la divulgation non autorisés, 
      nous avons mis en place des procédures physiques, électroniques et de gestion appropriées pour protéger et sécuriser 
      les informations que nous recueillons en ligne. </p>
      
       <h2>Comment nous utilisons les cookies</h2> 
       <p> Un cookie est un petit fichier qui demande la permission d'être placé sur le disque dur de votre ordinateur. Une fois que vous êtes d'accord, le 
       fichier est ajouté et le cookie aide à analyser le trafic Web ou vous permet de savoir quand vous visitez un site particulier. 
       Les cookies permettent aux applications web de vous répondre en tant qu'individu. L'application web peut adapter ses opérations à vos besoins, 
       à vos goûts et à vos aversions en recueillant et en mémorisant des informations sur vos préférences. </p> 
       <p> Nous utilisons des cookies de journal de trafic pour identifier les pages utilisées. Cela nous aide à analyser les données sur le trafic des pages Web et à améliorer notre site Web afin de l'adapter aux besoins des clients. 
       Nous n'utilisons ces informations qu'à des fins d'analyse statistique, puis les données sont supprimées du système. </p> 
       <p> Dans l'ensemble, les cookies nous aident à vous fournir un meilleur site Web, en nous permettant de surveiller quelles pages <p> 
      
      
       <h2>Notification et consentement</h2>
       <p> Les lois sur la confidentialité et L'utilisation ou la divulgation de renseignements 
       personnels dans le but d'établir, 
       de gérer ou de mettre fin à votre relation de travail. En outre, nous pouvons collecter,
       utiliser ou divulguer vos informations personnelles à votre insu ou sans votre consentement
        lorsque nous sommes autorisés ou tenus par 
       la loi applicable ou les exigences réglementaires de le faire.</p>
        <p>Dans la mesure où votre consentement est requis, nous supposerons, à moins que vous ne nous en disiez le contraire, 
        que vous avez consenti à ce que HTP Ltd collecte Lorsque votre consentement était requis pour notre collecte, notre utilisation ou notre divulgation de vos informations personnelles, 
        vous pouvez, à tout moment, sous réserve de restrictions légales ou contractuelles et d'un préavis raisonnable, retirer votre consentement. Toutes les communications concernant ce retrait ou cette modification du consentement 
        doivent être écrites et adressées au directeur général.</p> 

      
        <h2> Comment vos renseignements personnels sont-ils protégés ? </h2>
         <p>HTP Ltd s'efforce de maintenir des garanties physiques, techniques et procédurales appropriées à la sensibilité des informations personnelles en question. 
         Ces garanties sont conçues pour protéger vos informations personnelles contre la perte et l'accès, la copie, l'utilisation, la modification ou la divulgation non autorisés.</p>

          <h2>Combien de temps vos informations personnelles sont-elles conservées ? </h2> 
          <p> Sauf autorisation contraire ou requise par la loi applicable ou les exigences réglementaires, HTP Ltd ne conservera vos renseignements personnels que aussi longtemps qu'elle
           le jugera nécessaire pour atteindre les objectifs pour lesquels les renseignements personnels ont été recueillis (y compris, dans le but de se conformer à toute exigence ou obligation légale, comptable ou autre en matière de déclaration). 
           Nous pouvons, au lieu de détruire ou d'effacer vos informations personnelles, les rendre anonymes de sorte qu'elles ne puissent pas vous être associées ou suivies. Dans la plupart des cas, vos données seront supprimées 6 ans après votre départ de l'entreprise. 
           Si vous avez postulé pour travailler pour HTP Ltd et que vous avez échoué, nous conserverons vos données. Cela sera supprimé après 6 mois.
           </p> 

           <h2> Accès à vos informations personnelles </h2> 
           <p>Vous pouvez demander à voir les informations personnelles que nous détenons à votre sujet. 
           Si vous souhaitez examiner, vérifier ou corriger vos informations personnelles, veuillez contacter le directeur général.
            Veuillez noter qu'une telle communication peut être requise par écrit. Lorsque vous demandez l'accès à vos informations personnelles,
             veuillez noter que nous pouvons vous demander des informations spécifiques pour nous permettre de confirmer votre identité et votre droit d'accès, ainsi que de rechercher et de vous fournir les informations personnelles que nous détenons à votre sujet. 
             Nous pouvons vous facturer des frais pour accéder à vos informations personnelles ; cependant, nous vous informerons de tous les frais à l'avance. Si vous avez besoin d'aide pour préparer votre demande, veuillez contacter le directeur général.
              Votre droit d'accéder aux informations personnelles que nous détenons à votre sujet n'est pas absolu. 
              Il y a des cas où la loi ou les exigences réglementaires applicables nous permettent ou nous obligent à refuser de fournir tout ou partie des renseignements personnels que nous détenons à votre sujet. 
              En outre, les informations personnelles peuvent avoir été détruites, effacées ou rendues anonymes conformément à nos obligations et pratiques de conservation des dossiers. Si nous ne pouvons pas vous donner accès à vos informations personnelles,
             nous essaierons de vous informer des raisons, sous réserve de toute restriction légale ou réglementaire. 
             </p>
   
{% endblock %}
