{% extends 'base.html.twig' %}

{% block title %}
    TalkSpace - Politique de confidentialité
{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold">
        Politique de confidentialité
    </h1>
{% endblock %}
