{% extends 'base.html.twig' %}

{% block title %}
    TalkSpace - Centre d'aide
{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold">
        Centre d'aide
    </h1>

    <h3 class="text-xl font-bold">
        Questions fréquentes
    </h3>

    <ul>
        <li class="font-bold">Qu'est-ce qu'une thérapie avec un médecin ?</li>
        <li>La thérapie avec un médecin est un type de traitement de santé mentale qui consiste à parler à un médecin agréé spécialisé dans la santé mentale. 
        Pendant les séances de thérapie, vous travaillerez avec le médecin pour identifier et traiter les problèmes de santé mentale, développer des capacités d'adaptation et améliorer votre bien-être général.</li>

        <li class="font-bold">Quels sont les différents types de thérapie proposés par les médecins ?</li>
        <li>Thérapie cognitivo-comportementale (TCC),Thérapie interpersonnelle (IPT),Thérapie psychodynamique,Thérapie basée sur la pleine conscience,Thérapie comportementale dialectique (TCD)</li>

        <li class="font-bold">Que se passe-t-il lors d'une séance de thérapie avec un médecin ?</li>
        <li>Au cours d'une séance de thérapie avec un médecin, vous parlerez de vos pensées, de vos sentiments et de vos expériences dans un environnement favorable et confidentiel.
         Votre médecin vous écoutera, vous offrira des commentaires et des conseils, et travaillera avec vous pour élaborer des stratégies visant à améliorer votre santé mentale. 
         Les séances de thérapie durent généralement entre 45 minutes et une heure.</li>

        <li class="font-bold">Combien de temps dure un rendez-vous ?</li>
        <li>Une séance individuelle standard dure 45 minutes. Les rendez-vous ont généralement lieu au même jour et à la même heure chaque semaine.</li>

        <li class="font-bold">À quelle fréquence nous rencontrerons-nous ? </li>
        <li>Pour commencer, nous nous réunirons une fois par semaine. Je trouve qu'il est important de prendre de l'élan au début en se réunissant chaque semaine, sinon les progrès peuvent stagner. Une fois que certains ou tous vos objectifs sont atteints, se réunir moins souvent aura du sens.</li>

        <li class="font-bold">Combien facturez-vous ?</li>
        <li>Je facture 200€ par séance de 45 minutes. Le paiement sera perçu au moment du service</li>

        <li class="font-bold">Offrez-vous des séances par vidéo ou par téléphone ?</li>
        <li>Non! Nous sommes un cabinet de téléthérapie, ce qui signifie que nous proposons uniquement des séances en personne.Pour le moment, nous n'offrons pas de services vidéo ou par téléphone.</li>

        <li class="font-bold">Acceptez-vous l'assurance ?</li>
        <li>Non, je n'accepte aucune assurance. Je collecterai le paiement intégral de votre part au moment du service.
         Si vous avez un plan de type PPO et que vous souhaitez soumettre une demande de remboursement hors réseau, 
         je peux vous donner un reçu ou soumettre une demande en votre nom pour faciliter tout remboursement auquel vous pourriez avoir droit.
          Veuillez noter que soumettre une réclamation d'assurance signifie que je devrai vous donner un diagnostic de santé mentale.</li>

        <li class="font-bold">Quelle est votre politique d'annulation ?</li>
        <li>J'ai besoin d'un préavis de 24 heures en cas d'annulation ou vous devrez payer pour le rendez-vous. 
        Une exception ponctuelle peut être faite en cas d'urgence. Il est important que nous nous rencontrions régulièrement pour progresser.</li>

        <li class="font-bold">Prescrivez-vous des médicaments ?</li>
        <li>Non, je ne suis pas médecin. Beaucoup de mes patients trouvent que les médicaments sont utiles, 
        mais beaucoup d'entre eux progressent également bien en thérapie sans médicaments.
        Si vous souhaitez être évalué pour des médicaments psychiatriques, contactez votre médecin traitant ou un psychiatre. 
        Si vous prenez déjà des médicaments, je peux coordonner les soins avec votre médecin.</li>

        <li class="font-bold">Quels modes de paiement acceptez-vous ?</li>
        <li>J'accepte tous les modes de paiement .</li>

        <li class="font-bold">Comment prendre rendez-vous ?</li>
        <li>Prendre la décision de venir pour votre premier rendez-vous a probablement été difficile, alors j'essaie de rendre le processus aussi simple que possible. 
        Vous pouvez m'appeler au 0709829399 ou m'envoyer un e-mail à challengesymfony@gmail.com pour prendre rendez-vous sinon vous pouvez prendre pour lz suite directement sur notre site</li>

        <li class="font-bold">La thérapie est-elle confidentielle ?</li>
        <li>En général, la loi protège la confidentialité de toutes les communications entre un client et un psychothérapeute. Aucune information n'est divulguée sans l'autorisation écrite préalable du client.</li>

        <li class="font-bold">Avec quel type de clients travaillez-vous généralement ?</li>
        <li>Je préfère travailler avec des clients qui sont prêts et désireux d'apporter des changements positifs dans leur vie et qui le feront grâce à une volonté de s'ouvrir à de nouvelles façons de penser.
         Mes clients peuvent être aux prises avec certains aspects de la vie, notamment la dépression, l'anxiété, des événements stressants, des difficultés ou des changements relationnels, etc.</li>

        <li class="font-bold">À combien de séances de conseil la plupart des clients assistent-ils ?</li>
        <li>Cela dépend de vos objectifs individuels de thérapie. Vous et votre thérapeute déterminerez la fréquence des rendez-vous pour aider à améliorer rapidement vos
            symptômes de santé mentale. En régle générale, votre thérapeute recommandera une thérapie hebdomadaire dans un premier temps. 
            Vous serez alors vu moins fréquemment à mesure que vous vous sentirez à l'aise et que vos symptômes s'atténueront. La plupart des clients ont tendance à ressentir un soulagement des symptômes après 4 à 6 séances.</li>

    </ul>

    <p>Votre médecin peut vous aider à déterminer le type de thérapie qui vous convient le mieux en fonction de vos besoins et objectifs individuels.</p>

    <h3 class="text-xl font-bold">
        Vous souhaitez nous contacter ?
    </h3>

    {{ form_start(contactForm) }}
    {{ form_widget(contactForm) }}
    <button type="submit">Envoyer</button>
    {{ form_end(contactForm) }}
{% endblock %}
