{% extends 'base.html.twig' %}

{% block title %}
    TalkSpace - Conditions d'utilisation
{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold">
        Conditions d'utilisation
    </h1>

    <h2>Notre responsabilité</h2>
        <p>Tous nos thérapeutes sont des travailleurs indépendants et sont réglementés par leurs organismes de réglementation respectifs.
         Chaque thérapeute a ses propres termes et conditions, et tout contrat thérapeutique sera formé entre vous et le thérapeute que vous avez choisi.
        Harley Therapy Limited fournit uniquement les salles de conseil et les services administratifs. 
        Harley Therapy Limited n'acceptera aucune responsabilité pour toute perte ou dommage résultant d'un contact ou d'un travail avec le thérapeute. 
        Toute plainte contre le thérapeute doit être adressée au thérapeute en premier lieu et, si nécessaire, transmise à son organisation membre respective.
        </p>

    
    <h2>Modifications de ces termes</h2>

    <p>Nous pouvons réviser ces conditions d'utilisation à tout moment en modifiant cette page.
        Veuillez consulter cette page de temps à autre pour prendre connaissance des modifications que nous avons apportées,
         car elles vous engagent.</p>

    <h2>Modifications de notre site</h2>

    <p>Nous pouvons mettre à jour notre site de temps à autre et modifier le contenu à tout moment. Cependant, veuillez noter que tout contenu 
    de notre site peut être obsolète à tout moment et nous ne sommes aucunement tenus de le mettre à jour.
    Nous ne garantissons pas que notre site, ou tout contenu qu'il contient, sera exempt d'erreurs ou d'omissions.</p>

    <h2>Accéder à notre site</h2>
   
    <p>L'accès à notre site est mis à disposition gratuitement, mais les consultations en ligne qui sont assurées par l'intermédiaire d'un logiciel tiers, tel que Skype, sont payantes.
    Nous ne garantissons pas que notre site, ou tout contenu qu'il contient, sera toujours disponible ou ininterrompu. L'accès à notre site est autorisé sur une base temporaire. Nous pouvons suspendre, retirer, interrompre ou modifier tout ou partie de notre site sans préavis.
     Nous ne serons pas responsables envers vous si, pour une raison quelconque, notre site est indisponible à tout moment ou pour toute période, sauf en ce qui concerne les services de psychothérapie en ligne pré-arrangés. Dans ces circonstances, nous déploierons nos efforts raisonnables pour organiser une consultation alternative. 
     Dans le cas où une consultation mutuellement acceptable ne peut être organisée, notre responsabilité sera limitée aux sommes versées à l'avance au titre des services de consultation en ligne.
    Vous êtes responsable de prendre toutes les dispositions nécessaires pour que vous ayez accès à notre site. 
    Vous êtes également responsable de vous assurer que toutes les personnes qui accèdent à notre site via votre connexion Internet connaissent ces conditions d'utilisation et autres conditions générales applicables, et qu'elles les respectent.
    </p>

    <h2>Limitation de notre responsabilité</h2>

    <p>Rien dans ces conditions d'utilisation n'exclut ou ne limite notre responsabilité en cas de décès ou de blessure résultant de notre négligence, ou de notre fraude ou déclaration frauduleuse, ou de toute autre responsabilité qui ne peut être exclue ou limitée par la loi anglaise.
    Chaque thérapeute fournit des services selon ses propres termes et conditions et ces termes régiront la relation entre vous et votre thérapeute.
    Dans la mesure permise par la loi, nous excluons toutes les conditions, garanties, représentations ou autres termes qui peuvent s'appliquer à notre site ou à tout contenu qu'il contient, qu'ils soient explicites ou implicites.
    Nous ne serons pas responsables envers tout utilisateur de toute perte ou dommage, que ce soit dans le cadre d'un contrat, d'un délit (y compris la négligence), d'une violation d'une obligation légale ou autre, même prévisible, découlant de ou en relation avec : </p>

    <ul>
    <li>l'utilisation ou l'impossibilité d'utiliser notre site;</li>
    <li>l'utilisation ou le recours à tout contenu gratuit affiché sur notre site;</li>
    </ul>

    <p>Si vous êtes un utilisateur professionnel, veuillez noter que nous ne serons notamment pas responsables :</p>

    <ul>
    <li>perte de bénéfices, de ventes, d'activité ou de revenus;</li>
    <li>interruption de travail; </li>
    <li>perte d'économies anticipées ; </li>
    <li>perte d'opportunités commerciales, de clientèle ou de réputation ; </li>
    <li>toute perte ou tout dommage indirect ou consécutif </li>
    </ul>

    <p>Si vous êtes un utilisateur consommateur, veuillez noter que nous fournissons notre site uniquement pour un usage domestique et privé. Vous acceptez de ne pas utiliser notre site à des fins commerciales ou commerciales, 
    et nous n'avons aucune responsabilité envers vous pour toute perte de profit,
     perte d'activité, interruption d'activité ou perte d'opportunité commerciale.
        Nous ne serons pas responsables de toute perte ou dommage causé par un virus, une attaque par déni de service distribué ou tout autre matériel technologiquement nuisible qui pourrait infecter votre équipement informatique, 
        vos programmes informatiques, vos données ou tout autre matériel exclusif en raison de votre utilisation de notre site. ou à votre téléchargement de tout contenu sur celui-ci, ou sur tout site Web lié à celui-ci.
        Nous n'assumons aucune responsabilité pour le contenu des sites Web liés sur notre site. Ces liens ne doivent pas être interprétés comme une approbation de notre part de ces sites Web liés. Nous ne serons pas responsables de toute perte ou 
        dommage pouvant résulter de votre utilisation de ceux-ci.
    </p>

    <h2>Téléchargement de contenu sur notre site</h2>
        <p>Chaque fois que vous utilisez une fonctionnalité qui vous permet de télécharger du contenu sur notre site ou d'entrer en contact avec toute personne via notre site, vous devez vous conformer aux normes de contenu énoncées dans notre politique d'utilisation acceptable.
        Vous garantissez qu'une telle contribution est conforme à ces normes, et vous serez responsable envers nous et nous indemniserez pour toute violation de cette garantie.
        Tout contenu que vous téléchargez sur notre site sera considéré comme non confidentiel et non exclusif, et nous avons le droit d'utiliser, de copier, de distribuer et de divulguer à des tiers un tel contenu à quelque fin que ce soit.
        Nous avons également le droit de divulguer votre identité à tout tiers qui prétend que tout contenu publié ou téléchargé par vous sur notre site constitue une violation de ses droits de propriété intellectuelle ou de son droit à la vie privée.
        Nous ne serons pas responsables, ou redevables envers un tiers, du contenu ou de l'exactitude de tout contenu publié par vous ou tout autre utilisateur de notre site.
        Nous avons le droit de supprimer toute publication que vous publiez sur notre site si, à notre avis, votre publication n'est pas conforme aux normes de contenu énoncées dans notre politique d'utilisation acceptable.
        Les opinions exprimées par les contributeurs sur notre site ne représentent pas nécessairement nos opinions ou nos valeurs.
        </p>

        <h2> Services interactifs </h2>
        
        <p> Nous pouvons de temps à autre fournir des services interactifs 
        sur notre site, y compris, sans s'y limiter, des consultations en ligne (services interactifs).</p>

        <p>Lorsque nous fournissons un service interactif, nous vous fournirons des informations claires sur le type de service proposé, 
        s'il est modéré et quelle forme de modération est utilisée. </p>

        <p>Nous ferons de notre mieux pour évaluer les risques éventuels pour les utilisateurs (et en particulier pour les enfants) de la part de tiers lorsqu'ils utilisent tout service interactif 
        fourni sur notre site,
         et nous déciderons au cas par cas s'il convient d'utiliser 
        la modération du service pertinent (y compris le type de modération à utiliser) à la lumière de ces risques. 
        Cependant, nous n'avons aucune obligation de superviser, surveiller ou modérer tout service interactif que nous fournissons sur notre site au-delà des niveaux minimaux établis par nos 
        régulateurs, et nous excluons expressément notre responsabilité pour toute perte ou dommage résultant de l'utilisation de tout service interactif. par un utilisateur en violation de nos normes de contenu, 
        que le service soit modéré ou non. </p>


        <p> L'utilisation de l'un de nos services interactifs par un mineur est soumise au consentement de son parent ou tuteur. 
        Nous conseillons aux parents qui autorisent leurs enfants à utiliser un service interactif qu'il est important qu'ils communiquent avec leurs enfants sur leur sécurité en ligne,
         car la modération n'est pas infaillible. Les mineurs qui utilisent un service interactif doivent être informés des risques potentiels pour eux.</p>



{% endblock %}
