<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
                TalkSpace
            {% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-gray-100">
        <div class="flex min-h-screen flex-col">
            {% include 'components/navbar.html.twig' %}
            <div class="flex min-h-screen">
                {% include 'components/sidebar.html.twig' %}
                <main class="flex-1">
                    <div class="mx-auto w-11/12 py-8"
                        style="max-width: 1200px;">
                        {% for message in app.flashes('success') %}
                            <div role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}

                        {% for message in app.flashes('error') %}
                            <div role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}

                        {% block body %}

                        {% endblock %}
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>
