{% extends 'layouts/guest.html.twig' %}

{% block title %}
    TalkSpace - À propos
{% endblock %}

{% block body %}
    <main class="prose mx-auto py-16">
        <a href="{{ path('app_home') }}"
            class="mb-8 text-4xl font-bold no-underline">
            <span class="text-indigo-600">Talk</span>Space.
        </a>

        <p>
            TalkSpace est une plateforme de logiciel en tant que service (SaaS)
            qui permet de prendre des rendez-vous en ligne avec des thérapeutes.
            Cette plateforme offre une solution pratique pour les personnes qui
            souhaitent trouver des thérapeutes et organiser des sessions de
            thérapie.
        </p>
        <p>
            Avec TalkSpace, les utilisateurs peuvent consulter une liste de
            thérapeutes, choisir celui qui convient le mieux à leurs besoins et
            réserver un rendez-vous en ligne.
        </p>
        <p>
            En utilisant TalkSpace, les utilisateurs peuvent avoir accès à une
            variété de thérapeutes qualifiés et expérimentés, ce qui leur permet
            de choisir un professionnel qui répondra le mieux à leurs besoins.
            Cette plateforme offre également des fonctionnalités de sécurité
            robustes pour garantir la confidentialité des utilisateurs et des
            thérapeutes.
        </p>
        <p>
            En somme, TalkSpace est une solution pratique et efficace pour
            organiser des sessions de thérapie en ligne, ce qui permet aux
            utilisateurs d'accéder à des soins de santé mentale de qualité sans
            avoir à quitter leur domicile.
        </p>
    </main>
{% endblock %}
