{% extends 'layouts/guest.html.twig' %}

{% block title %}
    TalkSpace - À propos
{% endblock %}

{% block body %}
    <main class="prose mx-auto py-16">
        <a href="{{ path('app_home') }}"
            class="mb-8 text-4xl font-bold no-underline">
            <span class="text-indigo-600">Talk</span>Space.
        </a>

        <p>
            This privacy policy sets out how ESGI Doctor Website uses and
            protects any information that you give ESGI Doctor Website when you
            use this website. ESGI Doctor Website is committed to ensuring that
            your privacy is protected. Should we ask you to provide certain
            information by which you can be identified when using this website,
            then you can be assured that it will only be used in accordance with
            this privacy statement.
        </p>
        <p>
            ESGI Doctor Website may change this policy from time to time by
            updating this page. You should check this page from time to time to
            ensure that you are happy with any changes. This policy is effective
            from 28/02/2023.
        </p>
        <h2>
            What we collect
        </h2>
        <p>
            We may collect the following information:
        </p>
        <ul>
            <li>Name</li>
            <li>Contact information including email address</li>
            <li>
                Demographic information such as postcode, preferences and
                interests
            </li>
            <li>
                Other information relevant to customer surveys and/or offers
            </li>
        </ul>
        <h2>
            What we do with the information we gather
        </h2>
        <p>
            We require this information to understand your needs and provide you
            with a better service, and in particular for the following reasons:
        </p>
        <ul>
            <li>Internal record keeping</li>
            <li>
                We may use the information to improve our products and services
            </li>
            <li>
                We may periodically send promotional emails about new products,
                special offers or other information which we think you may find
                interesting using the email address which you have provided
            </li>
            <li>
                From time to time, we may also use your information to contact
                you for market research purposes. We may contact you by email,
                phone, fax or mail. We may use the information to customise the
                website according to your interests
            </li>
        </ul>
        <h2>
            Security
        </h2>
        <p>
            We are committed to ensuring that your information is secure. In
            order to prevent unauthorized access or disclosure, we have put in
            place suitable physical, electronic and managerial procedures to
            safeguard and secure the information we collect online.
        </p>
        <h2>
            How we use cookies
        </h2>
        <p>
            A cookie is a small file which asks permission to be placed on your
            computer's hard drive. Once you agree, the file is added and the
            cookie helps analyse web traffic or lets you know when you visit a
            particular site. Cookies allow web applications to respond to you as
            an individual. The web application can tailor its operations to your
            needs, likes and dislikes by gathering and remembering information
            about your preferences.
        </p>
        <p>
            We use traffic log cookies to identify which pages are being used.
            This helps us analyse data about web page traffic and improve our
            website in order to tailor it to customer needs. We only use this
            information for statistical analysis purposes and then the data is
            removed from the system.
        </p>
        <p>
            Overall, cookies help us provide you with a better website, by
            enabling us to monitor which pages
        </p>

        <h2>
            Notification and Consent
        </h2>

        <p>
            Privacy and employment laws do not generally require HTP Ltd to
            obtain your consent for the collection, use or disclosure of
            personal information for the purpose of establishing, managing or
            terminating your employment relationship. In addition, we may
            collect, use or disclose your personal information without your
            knowledge or consent where we are permitted or required by
            applicable law or regulatory requirements to do so.
        </p>

        <p>
            To the extent that your consent is required, we will assume, unless
            you advise us otherwise, that you have consented to HTP Ltd
            collecting, using and disclosing your personal information for the
            purposes stated above. Where your consent was required for our
            collection, use or disclosure of your personal information, you may,
            at any time, subject to legal or contractual restrictions and
            reasonable notice, withdraw your consent. All communications with
            respect to such withdrawal or variation of consent should be in
            writing and addressed to the Chief Executive Officer.
        </p>

        <h2>
            How is Your Personal Information Protected?
        </h2>
        <p>
            HTP Ltd endeavours to maintain physical, technical and procedural
            safeguards that are appropriate to the sensitivity of the personal
            information in question. These safeguards are designed to protect
            your personal information from loss and unauthorised access,
            copying, use, modification or disclosure.
        </p>

        <h2>
            How Long is Your Personal Information Retained?
        </h2>
        <p>
            Except as otherwise permitted or required by applicable law or
            regulatory requirements, HTP Ltd will retain your personal
            information only for as long as it believes is necessary to fulfil
            the purposes for which the personal information was collected
            (including, for the purpose of meeting any legal, accounting or
            other reporting requirements or obligations). We may, instead of
            destroying or erasing your personal information, make it anonymous
            such that it cannot be associated with or tracked back to you. In
            most cases your data will be deleted 6 years after you have left the
            company. If you have applied to work for HTP Ltd and have been
            unsuccessful we will retain your data. This will be deleted after 6
            months.
        </p>

        <h2>
            Access to Your Personal Information
        </h2>
        <p>
            You can ask to see the personal information that we hold about you.
            If you want to review, verify or correct your personal information,
            please contact the Chief Executive Officer. Please note that any
            such communication may be required in writing. When requesting
            access to your personal information, please note that we may request
            specific information from you to enable us to confirm your identity
            and right to access, as well as to search for and provide you with
            the personal information that we hold about you. We may charge you a
            fee to access your personal information; however, we will advise you
            of any fee in advance. If you require assistance in preparing your
            request, please contact the Chief Executive Officer. Your right to
            access the personal information that we hold about you is not
            absolute. There are instances where applicable law or regulatory
            requirements allow or require us to refuse to provide some or all of
            the personal information that we hold about you. In addition, the
            personal information may have been destroyed, erased or made
            anonymous in accordance with our record retention obligations and
            practices. If we cannot provide you with access to your personal
            information, we will try to inform you of the reasons why, subject
            to any legal or regulatory restrictions.
        </p>
    </main>
{% endblock %}
