{% extends 'base.html.twig' %}

{% block title %}
    TalkSpace
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <h1 class="text-2xl font-bold">
        Page d'accueil
    </h1>

    <a href="{{ path('app_doctor_index') }}">Trouver un thérapeute</a>
{% endblock %}
