{% extends 'layouts/guest.html.twig' %}

{% block title %}
    TalkSpace - Politique de confidentialité
{% endblock %}

{% block body %}
    <main class="prose mx-auto py-16">
        <h1>
            Politique de confidentialité
        </h1>

        <p>
            Cette politique de confidentialité décrit comment TalkSpace
            collecte, utilise et partage vos informations lorsque vous utilisez
            notre service de prise de rendez-vous avec des thérapeutes.
        </p>
        <h2>
            Collecte d'informations
        </h2>
        <p>
            Lorsque vous utilisez notre service, nous collectons les
            informations suivantes :
        </p>
        <ul>
            <li>Votre nom et votre adresse e-mail</li>
            <li>
                Les informations concernant vos rendez-vous avec les
                thérapeutes, y compris la date, l'heure et le sujet de la
                session
            </li>
        </ul>
        <h2>
            Utilisation d'informations
        </h2>
        <p>
            Nous utilisons les informations collectées pour les raisons
            suivantes :
        </p>
        <ul>
            <li>Planifier et gérer vos rendez-vous avec les thérapeutes</li>
            <li>
                Communiquer avec vous au sujet de votre compte et de vos
                rendez-vous
            </li>
            <li>Améliorer et personnaliser notre service</li>
        </ul>
        <h2>
            Partage d'informations
        </h2>
        <p>
            Nous ne partageons pas vos informations avec des tiers, sauf dans
            les situations suivantes :
        </p>
        <ul>
            <li>
                Lorsque nous avons votre consentement explicite pour partager
                vos informations
            </li>
            <li>
                Lorsque nous sommes tenus de partager vos informations pour nous
                conformer à la loi ou à une ordonnance du tribunal
            </li>
            <li>
                Lorsque nous croyons de bonne foi que la divulgation de vos
                informations est nécessaire pour protéger nos droits, votre
                sécurité ou la sécurité des autres
            </li>
        </ul>
        <h2>
            Sécurité des informations
        </h2>
        <p>
            Nous prenons des mesures de sécurité appropriées pour protéger vos
            informations contre l'accès non autorisé, la divulgation,
            l'altération ou la destruction.
        </p>
        <h2>
            Modifications de la politique de confidentialité
        </h2>
        <p>
            Nous pouvons modifier cette politique de confidentialité de temps à
            autre. Si nous apportons des modifications importantes, nous vous en
            informerons par e-mail ou en affichant un avis sur notre site web.
        </p>
        <h2>
            Contactez-nous
        </h2>
        <p>
            Si vous avez des questions ou des préoccupations concernant notre
            politique de confidentialité, vous pouvez <a href="{{
                path(
                    'app_support'
                )
                }}">
                nous contacter.
            </a>
        </p>
    </main>
{% endblock %}
