{% extends 'layouts/guest.html.twig' %}

{% block title %}
    TalkSpace - Centre d'aide
{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold">
        Centre d'aide
    </h1>

    <h3 class="text-xl font-bold">
        Questions fréquentes
    </h3>

    <ul>
        <li class="font-bold">Question #1 exemple</li>
        <li>Reponse #1 exemple</li>
        <li class="font-bold">Question #2 exemple</li>
        <li>Reponse #2 exemple</li>
        <li class="font-bold">Question #3 exemple</li>
        <li>Reponse #3 exemple</li>
    </ul>

    <h3 class="text-xl font-bold">
        Vous souhaitez nous contacter ?
    </h3>

    {{ form_start(contactForm) }}
    {{ form_widget(contactForm) }}
    <button type="submit">Envoyer</button>
    {{ form_end(contactForm) }}
{% endblock %}
