{% extends 'layouts/guest.html.twig' %}

{% block title %}
    TalkSpace - Conditions d'utilisation
{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold">
        Conditions d'utilisation
    </h1>
{% endblock %}
