{% extends 'layouts/guest.html.twig' %}

{% block title %}
    TalkSpace - Conditions d'utilisation
{% endblock %}

{% block body %}
    <main class="prose mx-auto py-16">
        <h1>
            Conditions d'utilisation
        </h1>

        <h2>
            Introduction
        </h2>
        <p>
            Bienvenue sur TalkSpace, un service de réservation en ligne de
            rendez-vous avec des thérapeutes. Ces conditions d'utilisation
            régissent votre utilisation de notre service.
        </p>

        <h2>
            Acceptation des conditions
        </h2>
        <p>
            En utilisant TalkSpace, vous acceptez d'être lié par les présentes
            conditions d'utilisation. Si vous n'acceptez pas ces conditions,
            veuillez ne pas utiliser notre service.
        </p>

        <h2>
            Utilisation du service
        </h2>
        <p>
            Notre service permet aux utilisateurs de rechercher et de réserver
            des rendez-vous avec des thérapeutes. Nous ne fournissons pas de
            services thérapeutiques ou médicaux et ne sommes pas responsables
            des traitements dispensés par les thérapeutes.
        </p>

        <h2>
            Compte utilisateur
        </h2>
        <p>
            Pour utiliser notre service, vous devez créer un compte utilisateur.
            Vous êtes responsable de maintenir la confidentialité de votre
            compte et de votre mot de passe. Vous êtes également responsable de
            toutes les activités qui ont lieu sous votre compte.
        </p>

        <h2>
            Réservation de rendez-vous
        </h2>
        <p>
            Les utilisateurs peuvent réserver des rendez-vous avec les
            thérapeutes disponibles via notre service. Les rendez-vous doivent
            être annulés ou modifiés au moins 24 heures à l'avance. Si vous ne
            respectez pas cette règle, vous pourriez être facturé pour le
            rendez-vous manqué.
        </p>

        <h2>
            Paiement
        </h2>
        <p>
            Les frais de réservation des rendez-vous sont payables en ligne.
            Nous acceptons les paiements par carte de crédit ou par PayPal. Les
            paiements sont traités de manière sécurisée via un prestataire
            tiers.
        </p>

        <h2>
            Propriété intellectuelle
        </h2>
        <p>
            TalkSpace et tous les contenus associés sont la propriété de
            TalkSpace ou de ses fournisseurs de contenu. Vous n'êtes pas
            autorisé à reproduire, distribuer ou modifier tout ou partie de
            notre contenu sans notre autorisation écrite.
        </p>

        <h2>
            Limitation de responsabilité
        </h2>
        <p>
            Nous ne sommes pas responsables des dommages directs, indirects,
            spéciaux ou consécutifs découlant de l'utilisation de notre service
            ou de l'impossibilité de l'utiliser.
        </p>

        <h2>
            Modification des conditions d'utilisation
        </h2>
        <p>
            Nous nous réservons le droit de modifier ces conditions
            d'utilisation à tout moment. Les modifications prendront effet
            immédiatement dès leur publication sur notre site web.
        </p>

        <h2>
            Contactez-nous
        </h2>
        <p>
            Si vous avez des questions ou des préoccupations concernant ces
            conditions d'utilisation, veuillez <a href="{{
                path(
                    'app_support'
                )
                }}">
                nous contacter.
            </a>
        </p>
    </main>
{% endblock %}
