<section>
    <h3 class="text-xl font-bold">
        Informations
    </h3>

    {{ form_start(accountForm) }}
    {{ form_widget(accountForm) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(accountForm) }}
</section>
