<section>
    <h3 class="text-xl font-bold">
        Mise à jour du mot de passe
    </h3>

    {{ form_start(profilePasswordForm) }}
    {{ form_widget(profilePasswordForm) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(profilePasswordForm) }}
</section>
