{% extends 'base.html.twig' %}

{% block title %}
    TalkSpace - Utilisateurs
{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold">
        Modifier l'utilisateur
    </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Modifier</button>
    {{ form_end(form) }}
{% endblock %}
