{% extends 'layouts/app.html.twig' %}

{% block title %}
    TalkSpace - Paramètres
{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold">
        Paramètres
    </h1>

    {% include 'doctor/settings/partials/account.html.twig' %}
    {% include 'doctor/settings/partials/schedule.html.twig' %}
    {% include 'doctor/settings/partials/days_off.html.twig' %}
{% endblock %}
