{% extends 'layouts/auth.html.twig' %}

{% block title %}
    TalkSpace - E-mail de réinitialisation envoyé
{% endblock %}

{% block body %}
    <div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="w-full max-w-xl space-y-4">
            <a href="{{ path('app_home') }}"
                class="block text-center text-4xl font-bold">
                <span class="text-indigo-600">T</span>S.
            </a>
            <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">
                E-mail de réinitialisation envoyé
            </h2>

            <p class="mt-2 text-center text-sm text-gray-600">
                Si un compte correspondant à votre adresse e-mail existe, un
                e-mail vient d'être envoyé qui contient un lien que vous pouvez
                utiliser pour réinitialiser votre mot de passe, Ce lien expirera
                dans <b>1 heure</b>
            </p>

            <p class="mt-2 text-center text-sm text-gray-600">
                Si vous ne recevez pas un e-mail, veuillez vérifier votre
                dossier de courriers indésirables ou <a href="{{
                    path(
                        'app_forgot_password'
                    )
                    }}"
                    class="font-medium text-indigo-600 hover:text-indigo-500">
                    réenvoyer le lien
                </a>
            </p>
        </div>
    </div>
{% endblock %}
