{% extends 'base.html.twig' %}

{% block title %}
    TalkSpace - Mot de passe oublié ?
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div role="alert">
            {{ flash_error }}
        </div>
    {% endfor %}

    <h1 class="text-2xl font-bold">
        Mot de passe oublié ?
    </h1>

    <p>
        Entrez votre adresse e-mail et nous vous enverrons un lien pour
        réinitialiser votre mot de passe.
    </p>

    {{ form_start(forgotPasswordForm) }}
    {{ form_row(forgotPasswordForm.email) }}
    <button type="submit">Envoyer</button>
    {{ form_end(forgotPasswordForm) }}
{% endblock %}
