{% extends 'base.html.twig' %}

{% block title %}
    TalkSpace - S'identifier
{% endblock %}

{% block body %}
    {% if error %}
        <div role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <h1 class="text-2xl font-bold">
        S'identifier
    </h1>

    <form method="POST">
        <input type="hidden"
            name="_csrf_token"
            value="{{ csrf_token('authenticate') }}" />

        <label for="email">Adresse e-mail</label>
        <input id="email"
            type="email"
            value="{{ last_username }}"
            name="email"
            autocomplete="email"
            required
            autofocus />

        <label for="password">Mot de passe</label>
        <input id="password"
            type="password"
            name="password"
            autocomplete="current-password"
            required />

        <label>
            <input type="checkbox" name="_remember_me" />
            <span>Se souvenir de moi</span>
        </label>

        <a href="{{ path('app_forgot_password') }}">Mot de passe oublié ?</a>

        <button type="submit">S'identifier</button>
    </form>
{% endblock %}
